@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Product Sans';
}

body {
    background-color: rgb(29, 28, 28);
}

.p {
    display: flex;
    min-height: 59vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

nav .navbar {
    width: 100%;
    height: 3.5rem;
    /* background-color: #fff; */
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8rem;
}

.navbar a {
    text-decoration: none;
    padding-left: 1.5rem;
    color: rgb(199, 197, 197);
    /* color: black; */
}

.navbar #dots {
    filter: invert(100%);
    padding-left: 1.5rem;
    width: 1.5rem;
}

.navbar #person {
    padding-left: 1.5rem;
    padding-right: .5rem;
    /* width: 2.8rem; */
    border-radius: 50%;
}

input {
    padding: .7rem;
    padding-left: 3.5rem;
    width: 32rem;
    border-radius: 2rem;
    margin: .5rem;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(79, 78, 78);
    cursor: text;
    color: rgb(180, 179, 179);

}

.searchbar {
    position: relative;
    margin: 1rem;
}

.searchbar #search {
    position: absolute;
    color: rgb(134, 133, 133);
    font-size: 1.2rem;
    margin-top: 1.3rem;
    margin-left: 2rem;
}

.searchbar #mic {
    position: absolute;
    width: 2rem;
    font-size: 1.3rem;
    margin-top: .9rem;
    margin-left: -3.7rem;
}

.buttons button {
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .8rem;
    margin: .5rem;
    background-color: transparent;
    color: rgb(168, 167, 167);
    border: 1px solid rgb(79, 78, 78);
    border-radius: .3rem;
    cursor: pointer;
}

.language {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.language a {
    text-decoration: none;
    color: rgb(134, 187, 247);
    margin-left: .7rem;
    font-size: .8rem;
}

.language p {
    font-size: .75rem;
    color: rgb(199, 197, 197);
}

.footer {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(79, 78, 78);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.left {
    width: 50%;
    /* background-color: aqua; */
    text-align: left;
}

.right {
    width: 50%;
    text-align: right;
}

.left a {
    text-decoration: none;
    position: relative;
    font-size: .85rem;
    margin-left: 1.5rem;
    color: rgb(168, 167, 167);
}

.right a {
    margin-right: 1.5rem;
    position: relative;
    color: rgb(168, 167, 167);
    text-decoration: none;
    font-size: .85rem;
}

.left a::before,
.right a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: .5px;
    background-color: rgb(168, 167, 167);
    width: 0%;
}

.left a:hover::before,
.right a:hover::before {

    width: 100%;
}

.footers {
    height: 3rem;
    width: 100%;
    margin: 1.8rem 0 1.8rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.upperfooter {
    display: flex;
    align-self: flex-start;
    color: rgb(168, 167, 167);
    font-size: .85rem;
    /* justify-self:flex-start; */
}

@media screen and (max-width: 780px) {

    .left a,
    .right a {
        font-size: .55rem;
    }
}

@media screen and (max-width: 602px) {

    input {
        width: 29rem;
    }

    .language a {
        font-size: .5rem;
    }

    .language p {
        font-size: .6rem;
    }
}

@media screen and (max-width: 568px) {

    .left a,
    .right a {
        font-size: .5rem;
    }

    .footer,
    .upperfooter {
        display: none;
    }
}

/* Responsive */

@media screen and (max-width: 540px) {
    input {
        width: 25rem;
    }
}

@media screen and (max-width: 468px) {
    input {
        width: 22rem;
    }
}

@media screen and (max-width: 420px) {
    input {
        width: 20rem;
    }

    .language p {
        font-size: .55rem;
    }

}

@media screen and (max-width: 395px) {
    input {
        width: 18rem;
    }

    .language p {
        font-size: .5rem;
        display: none;
    }
}

@media screen and (max-width: 360px) {
    input {
        width: 16rem;
    }

    .language p {
        display: none;
    }

    .language a {
        font-size: .4rem;
    }
}

@media screen and (max-width: 325px) {
    input {
        width: 14rem;
    }

    .buttons button {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .image img {
        width: 200px;
    }

    .language p {
        display: none;
    }
}

@media screen and (max-width: 290px) {
    input {
        width: 12rem;
    }

    .buttons button {
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .image img {
        width: 200px;
    }

    .language p {
        display: none;
    }
}

@media screen and (max-width: 275px) {
    input {
        width: 10rem;
    }

    .buttons button {
       
        font-size: .6rem;
    }

    .image img {
        width: 200px;
    }

    .language p {
        display: none;
    }
}